<div *ngIf="needShowBasket()">
  <b>Basket is not empty!</b>
</div>

<h1>Product properties:</h1>
<p>name: {{name}}</p>
<p>description: {{description}}</p>
<p>price: {{price}}</p>
<p>category: {{category | json}}</p>
<p>isAvailable: {{isAvailable}}</p>
<button (click)="onBuy()">Buy</button>

<h1>Ingredients array:</h1>
<ol>
  <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
</ol>

<h1>Products array:</h1>
<div *ngFor="let product of getProducts()">
  <p>
    <b>{{product.name}}</b>
    price: {{product.price}}
  </p>
</div>
  <h3 *ngIf="!getProducts().length">Product list is empty!</h3>
  <button (click)="removeAllProducts()"
          *ngIf="getProducts().length">Remove All</button>


<h1>product list component:</h1>
<app-product-list></app-product-list>

